/* src/atom/style/atom-figma-tokens.css */
:root {
  --atomlib-dark-boolean-abool: 0;
  --atomlib-dark-color-accent: #0099ff;
  --atomlib-dark-color-background: #111111;
  --atomlib-dark-color-btn-fg-constructive: #ffffff;
  --atomlib-dark-color-btn-fg-destructive: #ffffff;
  --atomlib-dark-color-btn-fg-normal: #000000;
  --atomlib-dark-color-btn-fg-primary: #000000;
  --atomlib-dark-color-btn-normal: #ffffff;
  --atomlib-dark-color-btn-primary: #00ff99;
  --atomlib-dark-color-constructive: #006600;
  --atomlib-dark-color-destructive: #B30F0F;
  --atomlib-dark-color-foreground: #ffffff;
  --atomlib-dark-float-anumber: 3.140000104904175;
  --atomlib-light-boolean-abool: 1;
  --atomlib-light-color-accent: #ff00ff;
  --atomlib-light-color-background: #eeeeee;
  --atomlib-light-color-btn-fg-constructive: #ffffff;
  --atomlib-light-color-btn-fg-destructive: #ffffff;
  --atomlib-light-color-btn-fg-normal: #ffffff;
  --atomlib-light-color-btn-fg-primary: #ffffff;
  --atomlib-light-color-btn-normal: #000000;
  --atomlib-light-color-btn-primary: #0099ff;
  --atomlib-light-color-constructive: #006600;
  --atomlib-light-color-destructive: #B30F0F;
  --atomlib-light-color-foreground: #111111;
  --atomlib-light-float-anumber: 2;
}

/* src/atom/style/atom.css */
:root {
  color-scheme: light dark;
  --atom-font-family-default:
    system-ui,
    -apple-system,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  --atom-font-h1: 700 48px/48px var(--atom-font-family-default);
  --atom-font-h2: 700 30px/36px var(--atom-font-family-default);
  --atom-font-h3: 700 24px/32px var(--atom-font-family-default);
  --atom-font-h4: 700 20px/28px var(--atom-font-family-default);
  --atom-font-subhead: 400 24px/32px var(--atom-font-family-default);
  --atom-font-p: 400 16px/28px var(--atom-font-family-default);
  --atom-font-control: 400 13px/20px var(--atom-font-family-default);
  --atom-font-label: 600 13px/20px var(--atom-font-family-default);
  --atom-font-code: 400 13px/20px monospace;
  --atom-control-bg: #ccc;
  --atom-color-gray-300: #ccc;
  --atom-color-gray-500: #555;
  --atom-color-gray-700: #333;
  --atom-button-border-radius: 6px;
  --atom-button-padding-block: 8px;
  --atom-button-padding-inline: 16px;
  --atom-button-icon-padding: 6px;
  --atom-button-icon-offset: -6px;
  --atom-icon-size: 14px;
}
.light-theme {
  color-scheme: light;
  --atom-bg: var(--atomlib-light-color-background);
  --atom-fg: var(--atomlib-light-color-foreground);
  --atom-color-destructive: var(--atomlib-light-color-destructive, #F10);
  --atom-color-constructive: var(--atomlib-light-color-constructive, #2dad32);
  --atom-control-bg: var(--atom-color-gray-300);
  --atom-color-accent: var(--atomlib-light-color-accent);
  --atom-btn-normal-bg: var(--atomlib-light-color-btn-normal);
  --atom-btn-primary-bg: var(--atomlib-light-color-btn-primary);
  --atom-btn-normal-fg: var(--atomlib-light-color-btn-fg-normal);
  --atom-btn-primary-fg: var(--atomlib-light-color-btn-fg-primary);
  --atom-btn-constructive-fg: var(--atomlib-light-color-btn-fg-constructive);
  --atom-btn-destructive-fg: var(--atomlib-light-color-btn-fg-destructive);
  --atom-color-subtle: color-mix(in srgb, var(--atom-bg), var(--atom-fg) 5%);
  --atom-button-normal-hover: color-mix(in srgb, var(--atom-btn-normal-bg), var(--atom-bg) 20%);
  --atom-button-primary-hover: color-mix(in srgb, var(--atom-btn-primary-bg), var(--atom-bg) 20%);
  --atom-button-destructive-hover: color-mix(in srgb, var(--atom-color-destructive), var(--atom-bg) 20%);
  --atom-button-constructive-hover: color-mix(in srgb, var(--atom-color-constructive), var(--atom-bg) 20%);
  --atom-button-subtle-hover: color-mix(in srgb, var(--atom-color-subtle), var(--atom-fg) 3%);
}
.dark-theme {
  color-scheme: dark;
  --atom-bg: var(--atomlib-dark-color-background);
  --atom-fg: var(--atomlib-dark-color-foreground);
  --atom-color-destructive: var(--atomlib-dark-color-destructive, #F10);
  --atom-color-constructive: var(--atomlib-dark-color-constructive, #2dad32);
  --atom-control-bg: var(--atom-color-gray-700);
  --atom-color-accent: var(--atomlib-dark-color-accent);
  --atom-btn-normal-bg: var(--atomlib-dark-color-btn-normal);
  --atom-btn-primary-bg: var(--atomlib-dark-color-btn-primary);
  --atom-btn-normal-fg: var(--atomlib-dark-color-btn-fg-normal);
  --atom-btn-primary-fg: var(--atomlib-dark-color-btn-fg-primary);
  --atom-btn-constructive-fg: var(--atomlib-dark-color-btn-fg-constructive);
  --atom-btn-destructive-fg: var(--atomlib-dark-color-btn-fg-destructive);
  --atom-color-subtle: color-mix(in srgb, var(--atom-bg), var(--atom-fg) 20%);
  --atom-button-normal-hover: color-mix(in srgb, var(--atom-btn-normal-bg), var(--atom-bg) 10%);
  --atom-button-primary-hover: color-mix(in srgb, var(--atom-btn-primary-bg), var(--atom-bg) 10%);
  --atom-button-destructive-hover: color-mix(in srgb, var(--atom-color-destructive), var(--atom-bg) 10%);
  --atom-button-constructive-hover: color-mix(in srgb, var(--atom-color-constructive), var(--atom-bg) 10%);
  --atom-button-subtle-hover: color-mix(in srgb, var(--atom-color-subtle), var(--atom-fg) 3%);
}
h1 {
  font: var(--atom-font-h1);
}
h2 {
  font: var(--atom-font-h2);
}
h3 {
  font: var(--atom-font-h3);
}
h4 {
  font: var(--atom-font-h4);
}
.xs {
  font: 400 13px/16px var(--atom-font-family-default);
}
.sm {
  font: 400 14px/16px var(--atom-font-family-default);
}
