@import url(theme.css);

:root {

    color-scheme: light dark; /* both supported */
    
    --atom-font-family-default: system-ui, -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
    
    --atom-font-h1: 700 48px/48px var(--atom-font-family-default);
    --atom-font-h2: 700 30px/36px var(--atom-font-family-default);
    --atom-font-h3: 700 24px/32px var(--atom-font-family-default);
    --atom-font-h4: 700 20px/28px var(--atom-font-family-default);
    --atom-font-subhead: 500 24px/32px var(--atom-font-family-default);
    --atom-font-p: 400 16px/28px var(--atom-font-family-default);
    --atom-font-control: 400 13px/20px var(--atom-font-family-default);
    --atom-font-label: 600 13px/20px var(--atom-font-family-default);

    --atom-control-bg: #ccc;

    
}

.light-theme {
    /* forces light color-scheme */
    color-scheme: light;

    --atom-bg: var(--atom-color-bg-l);
    --atom-fg: var(--atom-color-fg-l);
    --atom-control-bg: var(--atom-color-gray-300);
    /* disable to obey --accent color */
    /* --atom-color-accent: var(--atom-fg); */
    --atom-color-subtle: color-mix(in srgb, var(--atom-bg), var(--atom-fg) 5%);

    --atom-button-normal-hover: color-mix(in srgb, var(--atom-fg), var(--atom-bg) 20%);
    --atom-button-destructive-hover: color-mix(in srgb, var(--atom-color-destructive), var(--atom-bg) 20%);
    --atom-button-constructive-hover: color-mix(in srgb, var(--atom-color-constructive), var(--atom-bg) 20%);
    --atom-button-subtle-hover: color-mix(in srgb, var(--atom-color-subtle), var(--atom-fg) 3%);



}
.dark-theme {
    /* forces dark color-scheme */
    color-scheme: dark;

    --atom-bg: var(--atom-color-bg-d);
    --atom-fg: var(--atom-color-fg-d);
    --atom-control-bg: var(--atom-color-gray-700);
    /* disable to obey --accent color */
    /* --atom-color-accent: var(--atom-fg);  */
    --atom-color-subtle: color-mix(in srgb, var(--atom-bg), var(--atom-fg) 20%);

    --atom-button-normal-hover: color-mix(in srgb, var(--atom-fg), var(--atom-bg) 10%);
    --atom-button-destructive-hover: color-mix(in srgb, var(--atom-color-destructive), var(--atom-bg) 10%);
    --atom-button-constructive-hover: color-mix(in srgb, var(--atom-color-constructive), var(--atom-bg) 10%);
    --atom-button-subtle-hover: color-mix(in srgb, var(--atom-color-subtle), var(--atom-fg) 3%);
}

h1 {
    font: var(--atom-font-h1);
}
h2 {
    font: var(--atom-font-h2);
}
h3 {
    font: var(--atom-font-h3);
}
h4 {
    font: var(--atom-font-h4);
}

.xs {
    font: 400 13px/16px var(--atom-font-family-default);
}

.sm {
    font: 400 14px/16px var(--atom-font-family-default);
}