:root {
    color-scheme: light dark; /* both supported */
    
    --atom-font-family-default: system-ui, -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
    
    --atom-font-h1: 700 48px/48px var(--atom-font-family-default);
    --atom-font-h2: 700 30px/36px var(--atom-font-family-default);
    --atom-font-h3: 700 24px/32px var(--atom-font-family-default);
    --atom-font-h4: 700 20px/28px var(--atom-font-family-default);
    --atom-font-subhead: 500 24px/32px var(--atom-font-family-default);
    --atom-font-p: 400  16px/28px var(--atom-font-family-default);
    --atom-font-label: 600  13px/20px var(--atom-font-family-default);

    --atom-control-bg: #E7EBEF;

    --atom-button-bg: #0F172A;
    --atom-button-destructive-bg: #EF4444;
    --atom-button-outline-bg: #fff;
    --atom-button-subtle-bg: #F1F5F9;

    --atom-button-fg: #fff;
    --atom-button-destructive-fg: #fff;
    --atom-button-outline-fg: #000;
    --atom-button-subtle-fg: #000;

    --atom-button-border: 1px solid var(--atom-button-bg);
    --atom-button-bg-hover: color-mix(in srgb, var(--atom-button-bg), #000 10%);
    --atom-button-fg-hover: #fff;
    --atom-button-border-hover: 1px solid var(--atom-button-bg-hover);
    
    --atom-button-fontsize: 14px;
    --atom-button-fontweight: 500;
    --atom-button-lineheight: 120%;

    --atom-button-border-radius: 6px; /* 3px */
    --atom-button-padding-block: 8px; /* 2px */
    --atom-button-padding-inline: 16px; /* 8px */
    --atom-button-icon-padding: 8px; /* 4px */
    --atom-button-icon-offset: -4px; /* 4px */
    --atom-icon-size: 14px; /* 4px */
}