:root {
    /**

    Colors.

    Define key colors in theme:
    
    - bg-d           page background in dark-mode
    - bg-l           page background in light-mode
    - txt-d          text in dark-mode
    - txt-l          text in light-mode
    - accent         accent
    
    And possibly override the grayscale ramp
    - gray-300
    - gray-500
    - gray-700
    
    */

    --atom-color-bg-d: #222;
    /* --atom-color-bg-l: #fff; */
    --atom-color-bg-l: #f6f5de;

    --atom-color-fg-d: #fff;
    --atom-color-fg-l: #111;

    --atom-color-accent: #72621f;
    /* --atom-color-accent: #000; */
    --atom-color-destructive: #F10;
    --atom-color-constructive: #2dad32;
    
    --atom-color-gray-300: #ccc;
    --atom-color-gray-500: #555;
    --atom-color-gray-700: #333;

    --atom-button-border-radius: 6px;
    --atom-button-padding-block: 8px;
    --atom-button-padding-inline: 16px;
    
    --atom-button-icon-padding: 8px;
    --atom-button-icon-offset: -4px;
    --atom-icon-size: 14px;
}