@import url("./lib/typo.css");
@import url("./lib/ds-ds-figma.css");

/*
imported by: main.css
purpose: apply mapped colors and set theme-able vars
*/

body {
  margin: 0;
  padding: var(--3xl);
  color: var(--foreground);
  background-color: var(--background);
  font: var(--font-p);
}

h1, [role="heading"] {
  /* fluid */
  font: 700 clamp(1rem, 10vw, 10rem) / clamp(1rem, 10vw, 9rem) var(--font-family-default);
}

h2, [role="doc-subtitle"] {
  font: var(--font-subhead);
  opacity: 0.75;
}

p {
  font: var(--font-p);
}