[data-theme="light"] {
    /* color */
    --accent: var(--purple);
    --background: var(--white);
    --btn-label: var(--white-light);
    --foreground: var(--black);
    --input-focus: var(--pink);
    --negative: var(--orange);
    --normal: var(--black);
    --normal-dark: var(--black-dark);
    --normal-light: var(--white);
    --positve: var(--green);
    --warning: var(--yellow);
  }
  [data-theme="dark"] {
    /* color */
    --accent: var(--pink);
    --background: var(--black);
    --btn-label: #000000a8;
    --foreground: var(--white-dark);
    --input-focus: var(--yellow);
    --negative: var(--orange);
    --normal: var(--white);
    --normal-dark: var(--white);
    --normal-light: var(--black-dark);
    --positve: var(--green-light);
    --warning: var(--yellow-dark);
  }
  :root {
    /* color */
    --black: #232323;
    --black-dark: #111111;
    --black-light: #323232;
    --blue: #1fb6ff;
    --blue-dark: #009eeb;
    --blue-light: #85d7ff;
    --green: #13ce66;
    --green-dark: #0f9f4f;
    --green-light: #29eb7f;
    --orange: #f92828;
    --orange-dark: #f60101;
    --orange-light: #fd4e4e;
    --pink: #ff49db;
    --pink-dark: #ff16d1;
    --pink-light: #ff7ce5;
    --purple: #7e5bef;
    --purple-dark: #592dea;
    --purple-light: #a389f4;
    --white: #eff2f7;
    --white-dark: #cccccc;
    --white-light: #ffffff;
    --yellow: #ffc82c;
    --yellow-dark: #f8b700;
    --yellow-light: #ffd55f;
  
    /* number */
    --padding-none: 0px;
    --padding-xsmall: 2px;
    --radius-small: 2px;
    --padding-small: 4px;
    --radius: 4px;
    --padding: 8px;
    --radius-large: 8px;
    --padding-large: 16px;
    --padding-xlarge: 32px;
    --radius-full: 1000px;
  }