 /* Variables  */
 :root {
  --blue-light-mode-1: #85D7FFFF;
  --blue-mode-1: #1FB6FFFF;
  --blue-dark-mode-1: #009EEBFF;
  --purple-light-mode-1: #A389F4FF;
  --purple-mode-1: #7E5BEFFF;
  --purple-dark-mode-1: #592DEAFF;
  --pink-light-mode-1: #FF7CE5FF;
  --pink-mode-1: #FF49DBFF;
  --pink-dark-mode-1: #FF16D1FF;
  --orange-light-mode-1: #FD4E4EFF;
  --orange-mode-1: #F92828FF;
  --orange-dark-mode-1: #F60101FF;
  --green-light-mode-1: #29EB7FFF;
  --green-mode-1: #13CE66FF;
  --green-dark-mode-1: #0F9F4FFF;
  --yellow-light-mode-1: #FFD55FFF;
  --yellow-mode-1: #FFC82CFF;
  --yellow-dark-mode-1: #F8B700FF;
  --radius-full-mode-1: 1000px;
  --radius-large-mode-1: 8px;
  --radius-mode-1: 4px;
  --radius-small-mode-1: 2px;
  --padding-xlarge-mode-1: 32px;
  --padding-large-mode-1: 16px;
  --padding-mode-1: 8px;
  --padding-small-mode-1: 4px;
  --padding-xsmall-mode-1: 2px;
  --padding-none-mode-1: 0px;
  --black-dark-mode-1: #111111FF;
  --black-mode-1: #232323FF;
  --black-light-mode-1: #323232FF;
  --white-dark-mode-1: #CCCCCCFF;
  --white-mode-1: #EFF2F7FF;
  --white-light-mode-1: #FFFFFFFF;
  --btn-label-light: #FFFFFFFF;
  --btn-label-dark: #000000A8;
}

 /* Aliases  */
 :root {
  --foreground-light: var(--black);
  --foreground-dark: var(--white-dark);
  --background-light: var(--white);
  --background-dark: var(--black);
  --accent-light: var(--purple);
  --accent-dark: var(--pink);
  --positve-light: var(--green);
  --positve-dark: var(--green-light);
  --negative-light: var(--orange);
  --negative-dark: var(--orange);
  --warning-light: var(--yellow);
  --warning-dark: var(--yellow-dark);
  --normal-dark-light: var(--black-dark);
  --normal-dark-dark: var(--white);
  --normal-light: var(--black);
  --normal-dark: var(--white);
  --normal-light-light: var(--white);
  --normal-light-dark: var(--black-dark);
}

