@import url("style/theme.css");

/*
imported by: browser
purpose: apply theme to doc level elements
*/

body {
  color: var(--foreground);
  background-color: var(--background);

  font-size: var(--font-size);
  font-family: var(--font-family);
}

/* app */

.particle_controls {
  width: 50%;
}
